[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.14.2"
scipy = ">=1.0.0"
six = ">=1.11.0"
theano = ">=1.0.1"

[dev-packages]
yapf = "==0.22.0"

[requires]
